<page-header></page-header>

<mat-card-header class="encabezado" fxLayoutGap="10px" fxLayoutAlign="center center" fxLayout.md="column">
  <div *ngIf="data_11 && rol>2" class="ng-autocomplete" fxLayout="row" fxLayoutAlign="center center">
    <ng-autocomplete [data]="data_11 " (selected)='selectEvent($event)' [searchKeyword]="keyword"
      placeHolder="Ingrese Usuario" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.s_username"></a>
    </ng-template>
    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
  <h4 *ngIf="usuario && rol>2" class="texto_encabezado">{{usuario.s_name}}&nbsp;{{usuario.s_surname}}</h4>
  <h4 *ngIf="cuenta" class="texto_encabezado">Saldo Disponible:&nbsp; {{cuenta.Saldo}}</h4>
</mat-card-header>

<mat-tab-group class="reserva">
  <mat-tab label="Pedido">
    <br>
    <mat-card>
      <app-solicitud2 *ngIf="usuario" [usuario]="usuario" (propaga_todo)="actualiza_todo($event)"></app-solicitud2>
    </mat-card>
  </mat-tab>

  <mat-tab label="Historia">

    <app-historico *ngIf="usuario" [usuario]="usuario" (propaga_reserva)="actualiza_reserva($event)"></app-historico>

  </mat-tab>

  <mat-tab label="Cuenta">
    <app-cuenta *ngIf="usuario" [usuario]="usuario" (propaga_money)="actualiza_money($event)"></app-cuenta>

  </mat-tab>


  <mat-tab label="Presto">
  </mat-tab>
</mat-tab-group>