@import "../../../colores.scss";

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.mat-header-cell {
    color: white !important;
    background-color: $main-oscuro-propio;
    display: flex;
    justify-content: center;

}

::ng-deep .mat-sort-header-arrow {
    color: #fff;
}

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
}

.mat-cell {
    text-align: center;
    justify-content: center;
}