<mat-card-header class="encabezado" fxLayoutAlign="center center">
  <h4 *ngIf="cuenta" class="texto_encabezado">Saldo Disponible:&nbsp; {{cuenta.Saldo}}</h4>

</mat-card-header>

<button mat-raised-button class="boton" color="primary" (click)="consulta()" style="display:none">Consulta</button>

<mat-card-content *ngIf="permite" class="maqueta">

  <div class="swiper-container " [swiper]="config" (indexChange)="onIndexChange($event)">
    <div class="swiper-wrapper ">
      <div *ngFor="let dia of dia_sem;let indice=index" class="swiper-slide mat-elevation-z4 diapositiva">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
          <div class="card" fxLayout="column" fxLayoutAlign="center space-between">
            <div class="dia_fecha" fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="space-between center">
              <div> {{ maqueta[indice][7] }} </div>
              <div> {{ maqueta[indice][0] }} </div>
            </div>
            <div *ngIf="maqueta[indice][1] == '2'" fxLayoutAlign="center center">
              <mat-form-field class="elige_menu" appearance="outline">
                <mat-select [(value)]="m_inicial[indice]" #t (selectionChange)="callType(indice,$event.value)">
                  <mat-option *ngFor="let aparece of this.obt_m1[indice];let indice2=index" [value]="aparece">
                    {{aparece}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
            <div class="_menu muestra_menu" *ngIf="maqueta[indice][1] != '2'" fxLayoutAlign="center center">
              <div> {{ maqueta[indice][2] }} </div>
            </div>

            <div class="container"  > 
              <img class="usuario_imagen imagen" mat-card-image src="{{maqueta[indice][3]}}" alt="Menu" />

              <div class="middle" fxLayout="column" *ngIf="maqueta[indice][1] != '1'" fxLayoutAlign="center center">
                <div *ngIf="maqueta[indice][1] != '2'">
                  <div class="text"> {{ maqueta[indice][4] }} </div>
                </div>

                <div *ngIf="maqueta[indice][1] == '2'">
                  <div>
                    <button mat-button class="boton" (click)="paga(indice)">
                      Abonar
                    </button>
                  </div>
                  <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="space-between center">
                    <div class="informe" >Costo&nbsp;<span class="etiqueta">{{importe}}</span></div>
                    <div class="informe" >Cantidad&nbsp;<span class="etiqueta">{{m_viandas}}</span></div>
                  </div>
                </div>

              </div>


            </div>






          </div>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
    <div class="swiper-pagination" [hidden]="config.pagination === false"></div>
    <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
    <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
  </div>

</mat-card-content>