@import "../../colores.scss";
@import "../../swiper.min.css";

ng-autocomplete {
  border: 15px;
}

.swiper-container {
  height: 80%;
  width: 80%;
  margin: auto;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.encabezado{
  background-color: $main-claro-propio;
 text-align: center;
}

.texto_encabezado{
  color: #fff;
}

.maqueta{
  background-color: #fff;
}

.imagen{
  height: 100px!important;
  width: auto;
}

.diapositiva{
  margin-top: 15px;;
}

.dia_fecha{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: large;
}

._menu{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: large;
}

.text {
  background-color: #3F51B5;
    padding: 5px 10px;
    border-radius: 20%;
    color:white;
  }

  
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.image:hover {
  opacity: 0.3;
}


.container:hover .middle {
  opacity: 0.8;
}