@import "../../colores.scss";
@import "../../swiper.min.css";

.pie_pagina {
  margin: 0px -16px 16px;
  background-color: $main-oscuro-propio;
  color: #fff;
}
.texto_pie {
  margin: 10px;
}
.vinculo {
  color: white;
}
.vinculo:hover {
  color: $cancel-propio;
}

.etiqueta {
  color: #fff;
}

.contenido {
  width: 100%;
  height: 100%;
}

.servicios {
  max-width: 200px;
  text-align: center;
}

.informa {
  background-size: 100%;
  width: 100%;
  filter: alpha(opacity=50);
}

.imagen{
  height: 150px!important;
  width: 300px!important;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.8;
  width: auto;

}
.container:hover .image {
  opacity: 0.3;
}
.image:hover {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.container{
  position:relative;
}

.usuario_imagen {
  -webkit-border-radius: 5%;
  border-radius: 5%;
  border: 2px solid #fff;
  margin:15px;
  opacity: 1;
  display: block;
  object-fit: cover;
  object-position: center center;
}

.social-media {
  margin-bottom: 35px;
}
.social-media .btn1 {
  /*facebook button*/
  border: 0;
  padding: 15px;
  margin-top: 11px;
  width: 100%;
  border-radius: 5px;
  background: #3b5998;
  color: #fff;
  justify-content: center;
  &:hover {
    background: rgba(#3a589a, 0.8);
  }
}
.social-media .btn2 {
  /*instagram*/
  border: 0;
  padding: 15px;
  margin-top: 11px;
  width: 100%;
  border-radius: 5px;
  background: #3f729b;
  color: #fff;
  justify-content: center;

  &:hover {
    background: rgba(#3f729b, 0.8);
  }
}

.social-media .btn3 {
  /*twich*/
  border: 0;
  padding: 15px;
  margin-top: 11px;
  width: 100%;
  border-radius: 5px;
  background: #6441a5;
  color: #fff;
  justify-content: center;

  &:hover {
    background: rgba(#6441a5, 0.8);
  }
}

.social-media button > a {
  color: #fff;
  text-decoration: none;
}
/************/

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}

.acomoda_carta {
  width: auto;
  height: auto;
}
.entorno {
  height: 150px;
}
.texto{
  border-radius: 5%;
  color: white;
}


@media (max-width: 450px) {
  .texto_pie {
    margin: 10px;
    font-size: small;
  }
  mat-card-title {
    font-size: small;
    font-weight: bold;
  }
  mat-card-content {
    font-size: small;
    text-align: center;
  }
  .etiqueta {
    color: #fff;
    font-size: small;
    font-weight: bold;
  }
  .blanco {
    color: white;
    font-size: small;
  }
  .servicios {
    max-width: 150px;
    text-align: center;
  }
  .texto{
    border-radius: 5%;
    color: white;
    font-size: small;
  }
}
