$main-propio:#3F51b5;
$main-claro-propio:#5C6BC0;
$main-claro2-propio:#9FA8DA;
$main-claro3-propio:#C5CAE9;
$main-claro4-propio:#E8EAF6;
$main-oscuro-propio:#1A237E;

$acento-propio:#8C9Eff;
$contraste-propio:#304FFE;

$cancel-propio:#e51c23;
$confirm-propio:#3949AB;
