<mat-card-content>
    <mat-table *ngIf="reservas" [dataSource]="reservas" class="mat-elevation-z8 " fxLayoutGap="5px" matSort>
      <ng-container class="tama_cell" matColumnDef="f_fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.f_fecha | date: "dd/MM"}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="n_menu.s_detmenu">
        <mat-header-cell *matHeaderCellDef >  </mat-header-cell>
        <mat-cell *matCellDef="let element" fxLayoutGap="5px">
          <img *ngIf="element.n_menu.s_imagen" [src]="element.n_menu.s_imagen" />
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="n_cantidad">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nro </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.n_cantidad}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="importe">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Costo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.importe}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="consumido">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Retiro </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngIf="element.consumido== 'Si'">
            <mat-checkbox [checked]="true" [disabled]="true">
            </mat-checkbox>
          </div>
          <div *ngIf="element.consumido== 'No'">
            <mat-checkbox [checked]="false" [disabled]="true">
            </mat-checkbox>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef > </mat-header-cell>
        <mat-cell *matCellDef="let element" class="action-link">
          <button mat-icon-button class="boton" color="warn" matTooltip="Borra" (click)="delete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>