<page-header></page-header>
<mat-card-content>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>
  <mat-table [dataSource]="data" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="edita">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-link">
        <button mat-icon-button color="primary"     matTooltip="Edita"
        (click)="modifica(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="s_username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.s_username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="s_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.s_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="s_surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.s_surname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="imageUrl">
      <mat-header-cell *matHeaderCellDef>Foto</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img *ngIf="element.s_imagen!='null'" [src]="element.s_imagen" />
        <img *ngIf="element.s_imagen=='null'" src="assets/images/usuario_anonimo.jpg" />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-link">
        <button mat-icon-button class="boton" color="primary"     matTooltip="Resetea Clave"
        (click)="resetea(element)">
          <mat-icon>feedback</mat-icon>
        </button>
        <button mat-icon-button class="boton" color="warn"     matTooltip="Borra"
        (click)="delete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</mat-card-content>