@import "../../../../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../../../../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

.mat-column-s_username {
    flex: 0 0 80px;
}
.mat-column-imageUrl {
    flex: 0 0 30px;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 40px;
}
.boton {
    margin: 15px;
}
@media (max-width: 375px) {
    .boton {
        margin: 0px;
    }
}
